/* components/ActivityBar/ActivityBar.module.css */
.activityBar {
  padding: 0.5rem;
  height: 80vh;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f7f7;
  gap: 1rem;
}

.activityBar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
