.metricsContainer {
  padding: 1rem;
  background: #f9f9f9;
}

.metricsContainer h2 {
  margin-bottom: 10px;
}

.metricsContainer ul {
  list-style: none;
  padding-left: 0;
}

.metricsContainer li {
  margin-bottom: 5px;
}
