.metricsContainer {
  margin: 20px 0;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 4px;
}

.metricsContainer h2 {
  margin-bottom: 10px;
}

.metricsContainer ul {
  list-style: none;
  padding-left: 0;
}

.metricsContainer li {
  margin-bottom: 5px;
}
