.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
