.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  flex: 1;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
}

.buttonGroup > span {
  font-weight: 500;
  color: #333;
  background-color: #f6f6f6;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonGroup > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  background: #6760eb;
  color: #fff;
  border: none;
  cursor: pointer;
}

.saveButton:hover {
  background: #4f46e5;
}

.metricsView {
  flex: 1;
}
