.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  border-bottom: 1px solid #c1c1c1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonGroup button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1;
}
