.runCodeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.35rem 1rem;
  color: #fff;
  background: #00884f;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.runCodeButton:hover {
  background: #007a4a;
}
