.statusBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  color: #484848;
}

.statusBar span {
  font-size: 0.875rem;
  font-weight: 200;
}
